.interface{
    width: 200px;
    height: 330px;
    position: fixed;
    float: left;
    background: rgb(92, 90, 90);

    margin-top: 50px;
    font-family: Teko;
}
.digitar-nome{
    display: flex;
    justify-content: center;
}
.interface h1{
    text-align: center;
    color: white;
}